<html>
    <body>    
        <div class="imgdiv">
            <div class="colstyle">
            <div class="row">
            <img src="/assets/pdfimg.jpg" class="imgstyle"></div>
            <div><h1 class="hstyle">File Storage Application</h1></div>
        </div>
        </div><br><br>
    
    <div class="login-div">
        <div class="row">
            
            <div class="col" style=" background-color: white; border: 2px solid black;;">
                
                <h2 style="color: rgb(66, 85, 85);" class="h2style">User Register</h2>
                <form [formGroup]="uregisterForm" (ngSubmit)="uregister()">
                <div class="input-group mb-3">
                    
                    <input type="text" class="form-control" name="userid" id="userid" formControlName="userid" placeholder="User ID"
                        aria-label="Recipient's userid" aria-describedby="basic-addon2">
                        
                </div>
                <div *ngIf="(this.uregisterForm.get('userid')?.touched || this.uregisterForm.get('userid')?.dirty)&& this.uregisterForm.get('acno')?.errors" class="error">invalid account number</div><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="uname" id="uname" formControlName="uname"  placeholder="Username"
                        aria-label="username" aria-describedby="basic-addon2">
                </div>
                <div *ngIf="(this.uregisterForm.get('uname')?.touched||this.uregisterForm.get('uname')?.dirty)&& this.uregisterForm.get('uname')?.errors" class="error">invalid Username</div><br>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="pswd" id="pwd" formControlName="pswd"  placeholder="password"
                        aria-label="password" aria-describedby="basic-addon2">
                </div>
                <div *ngIf="(this.uregisterForm.get('pswd')?.touched || this.uregisterForm.get('pswd')?.dirty)&& this.uregisterForm.get('pswd')?.errors" class="error">invalid password</div><br>
                <div class="input-group mb-3">
                    <p style="color: red;" id="error"></p>
                </div>
                <div class="input-group mb-3 login-btn-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    </body>
</html>