<html>
<div class="col-md-6">
    <h1 style="color:white; margin-top:20px;"> DOWNLODED MATERIALS</h1><br>
    <table style="border:1px; background-color: darkgrey; height:40px;width:50%;">
        <tr>
            <th>File Name</th>
            <th>File</th>
        </tr>
        <!-- <%for (i=0;i<course_id_up.length;i++){%>
           <tr><td style="color:white"><%=cs_name_up[i]%></td><td style="color:white"><a href="deletematerial?id=<%=course_id_up[i]%>"> delete</a></td></tr>
        <%}%>    -->
    </table>
</div>
</html>